language: python
python:
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  
install:
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
  - pip install python-coveralls

script:
  - pytest

after_success:
  - coveralls
